aside.logo {
  background-color: #000000ce;
  display: flex;
  justify-content: center;
}

h2 {
  position: relative;
  margin: 0;
  font-size: 1.2em;
  font-weight: 900;
  color: #fff;
  justify-content: center;

  overflow: hidden;
}

h2::before {
  content: '';
  position: absolute;
  left: 110%;
  width: 130%;
  height: 100%;
  animation: animate 6.5s linear forwards;
  animation-delay: 3s;
}
@keyframes animate {
  0% {
    left: 120%;
  }
  100% {
    left: -20%;
  }
}

h2 span {
  color: #ff022c;
}

video {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 255px;
  height: 100px;
  object-fit: cover;
  pointer-events: none;
  mix-blend-mode: screen;
}

#divLogo {
  margin-top: 43px;
}
