aside.menu-area {
  background-color: #000000ce;
  box-shadow: 2px 0px 10px 0 rgba(57, 57, 58, 0.164),
    2px 0px 15px 0 rgba(96, 96, 97, 0.137);
}

.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 15px;
  letter-spacing: 2px;
  overflow: hidden;
  margin: 10px 0;
}

.menu a:hover {
  background: linear-gradient(rgba(207, 13, 13, 0.76), rgba(0, 0, 0, 0.685));
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menu a {
    display: inline;
    padding: 10px;
    margin: 0px;
  }

  .menu {
    height: 100%;
    justify-content: space-around;
  }
}
